body {
    margin: 0;
    display: block;
    background-color: #fcfcfc;
    position: relative;
    min-height: 100vh;
}

@font-face {
    font-family: BernierRegular;
    src: url(fonts/BERNIER_Regular.ttf);
}

@font-face {
    font-family: ButlerMedium;
    src: url(fonts/Butler-Medium.woff);
}

@font-face {
    font-family: ButlerBold;
    src: url(fonts/Butler_Bold.otf);
}

@font-face {
    font-family: ButlerExtraBold;
    src: url(fonts/Butler_ExtraBold.otf);
}

@font-face {
    font-family: HectorRounded;
    src: url(fonts/HectorRounded.ttf);
}

.section1 {
    position: relative;

    background-image: url(img/paper_bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section1_rows {
    height: 100%;
    width: 100%;
}

.blue_triangle {
    position: absolute;
    max-width: 580px;
    width: 100%;
    top: 0;
    left: 0;
    mix-blend-mode: multiply;
}

.red_triangle {
    position: absolute;
    max-width: 580px;
    width: 100%;
    bottom: 0;
    right: 0;
    mix-blend-mode: multiply;
}

.left_section_container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.left_section_sub_container {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.left_section_title {
    margin: auto;
    margin-left: 150px;
    background-color: #E31621;
    color: white;
    font-family: BernierRegular;
    font-size: 48px;
    line-height: 62.4px;
    padding-left: 15px;
    padding-right: 15px;

}


.left_section_sub_title {
    margin: auto;
    margin-left: 150px;
    color: black;
    font-family: ButlerExtraBold;
    font-size: 34px;
}

.left_section_sub_sub_title {
    margin: 50px auto;
    max-width: 500px;
    width: 100%;
    margin-left: 150px;
    font-family: ButlerMedium;
    font-size: 24px;
}










.right_section_container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.right_section_sub_container {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.right_section_title {
    margin: auto;
    background-color: #3B498B;
    color: white;
    font-family: BernierRegular;
    font-size: 41px;
    padding-left: 15px;
    padding-right: 15px;
}

.right_section_sub_title {
    margin: auto;
    color: #3B498B;
    font-family: ButlerBold;
    font-size: 54px;
}

.right_section_price {
    margin: auto;
    font-family: ButlerExtraBold;
    font-size: 92px;
    color: #E31621;
    text-align: center;
}

.right_section_discount_price {
    margin: -25px auto;
    font-family: ButlerBold;
    font-size: 18px;
    color: black;
    text-align: center;
}

.linethrough_price {
    text-decoration: line-through;
}

.right_section_button {
    margin: 50px auto;
    text-decoration: none;
    color: #695106;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    padding-left: 165px;
    padding-right: 165px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    background-color: #F2C94C;
    border-radius: 5px;
}

.right_section_button:hover {
    text-decoration: none;
    color: #695106;
    background-color: #ffd450;
    transition: .4s;

}


.section2 {
    margin-top: 50px;
    padding-bottom: 100px;
}

.section2_title {
    margin-top: 50px;
    text-align: center;
    font-family: ButlerExtraBold;
    font-size: 38px;
    color: #3B498B;
}

.section2_cards_container {
    margin-top: 50px;
    padding: 20px;
    max-width: 1400px;
    margin: auto;
}

.section2_cards {
    position: relative;
    margin: auto;
    margin-top: 20px;
    max-width: 500px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

.section2_cards_info_container {
    display: flex;
    flex-direction: column;
    margin: 25px auto;
    margin-left: 20px;
}

.images_avantages {
    position: relative;
    margin: 0 auto;
    width: auto;
    height: 100px;
}

.cards_tilte {
    margin: 0px auto;
    margin-left: 0;
    background-color: #3B498B;
    color: white;
    font-family: BernierRegular;
    font-size: 24px;
    padding-left: 5px;
    padding-right: 5px;
}

.cards_sub_tilte {
    font-family: ButlerExtraBold;
    font-size: 28px;
    color: #292929;
}

.cards_description {
    position: relative;
    margin-top: 20px;
    font-family: ButlerMedium;
    font-size: 18px;
    text-align: left;
}

















/*------NAVBAR------*/

.navbar {
    background-color: #e30d22;
    height: 60px;
    padding: 0;
    padding-right: 30px;
    padding-left: 30px;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.37);
}

.navbar_container {
    position: relative;
    margin: auto;
    max-width: 1400px;
    width: 1400px;
    height: 60px;
    display: flex;
}

.container {
    display: flex;
}

.navbar_logo {
    position: relative;
    margin: auto;
    margin-left: 0px;
    height: 40px;
    width: auto;
}

.navbar_button {
    position: relative;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    margin: auto;
    margin-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
    border: none;
    background-color: #F2C94C;
    border-radius: 5px;
    color: #695106;
}

.navbar_button:hover {
    text-decoration: none;
    color: #695106;
    background-color: #ffd450;
    transition: .4s;

}

/*------FOOTER------*/

#footer_container {
    position: relative;
    background-color: #0D0D0D;
    width: 100%;
    height: 52px;
    display: flex;
}

#footer_information {
    position: relative;
    margin: auto;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: white;
    display: flex;
}

.footer_information_spacing {
    margin-right: 25px;
}

#social_media_icons_container {
    position: relative;
    margin: auto;
    display: flex;
}

.social_media_icons {
    color: white;
    font-size: 20px;
    margin-left: 15px;
}



@media only screen and (max-width: 1100px) {

    #footer_container {
        padding: 20px;
        height: auto;
    }

    #footer_information {
        display: flex;
        flex-direction: column;
        margin-left: 0;
    }

    .footer_information_spacing {
        font-size: 15px;
    }

    .footer_information_bar {
        display: none;
    }

    .social_media_icons {
        font-size: 20px;
    }

}


@media only screen and (max-width: 992px) {

    .section1_rows {
        margin-left: 0;
        margin-right: 0;
    }

    .left_section_container {
        width: 100%;
    }

    .left_section_title {
        margin: 80px auto;
        margin-bottom: 0;
        font-size: 36px;
        line-height: 46.8px;
    }


    .left_section_sub_title {
        margin: 10px auto;
        margin-left: auto;
        font-size: 26px;
    }

    .left_section_sub_sub_title {
        margin: 0px auto;
        text-align: center;
        font-size: 18px;
    }

    .blue_triangle {
        width: 50%;
    }

    .red_triangle {
        width: 50%;
    }

    .right_section_container {
        margin-top: 50px;
        width: 100%;
    }

    .right_section_sub_container {
        text-align: center;
    }

    .right_section_title {
        font-size: 30px;
    }

    .right_section_sub_title {
        font-size: 34px;
    }

    .right_section_price {
        font-size: 64px;
        text-align: center;
    }

    .right_section_button {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        text-align: center;
    }

}


@media only screen and (max-width: 788px) {

    .navbar_logo {
        margin: auto;
        margin-left: auto;
    }

    .navbar_button {
        display: none;
    }

    .section2 {
        margin-top: 50px;
        padding-bottom: 100px;
    }

    .section2_title {
        margin-top: 50px;
        text-align: center;
        font-family: ButlerExtraBold;
        font-size: 38px;
        color: #3B498B;
    }

    .section2_cards_container {
        margin-top: 50px;
        padding: 0px;
        max-width: 1400px;
        margin: auto;
    }

    .section2_cards {
        position: relative;
        margin: auto;
        margin-top: 20px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;

    }

    .section2_cards_info_container {
        display: flex;
        flex-direction: column;
        margin: 25px auto;
        margin-left: auto;
        padding: 0px;
    }

    .images_avantages {
        position: relative;
        margin: 0 auto;
        height: 100px;
    }

    .cards_tilte {
        margin: 0px auto;
        background-color: #3B498B;
        color: white;
        font-family: BernierRegular;
        font-size: 24px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .cards_sub_tilte {

        text-align: center;
    }

    .cards_description {
        text-align: center;
    }


    #footer_container {
        height: auto;
        flex-direction: column;
    }

    #footer_information {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: auto;
    }

    .footer_information_spacing {
        margin: 5px auto -10px auto;
        padding: 5px;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.801);
    }

    .footer_information_bar {
        display: none;
    }

    #social_media_icons_container {
        flex-direction: row;
    }

    .social_media_icons {
        margin-top: 20px;
        margin-bottom: 15px;
        color: rgba(255, 255, 255, 0.801);

    }
}