body {
    margin: 0;
    display: block;
    background-color: #fcfcfc;
}

.section1_container {
    width: 100%;
    height: 600px;
    background-color: #009BD1;
}

.section1_sub_container {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.section1_left_column {
    position: relative;
    display: flex;
}

.section1_left_column_sub_container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-left: 15%;
    float: left;
}

.left_column_logo {
    width: 160px;
}

.left_column_mini_title {
    margin-top: 67px;
    margin-bottom: 0;
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: 3;
}

.left_column_title {
    margin-top: 9px;
    max-width: 500px;
    color: #FFFFFF;
    font-family: 'Caladea', serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 54.6px;
    font-style: italic;
}

.left_column_description {
    max-width: 280px;
    margin-top: 18px;
    color: #FFFFFF;
    font-family: 'Caladea', serif;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;

}

.left_column_button {
    margin-top: 50px;
    text-decoration: none;
    border: 0;
    border-radius: 5px;
    color: #695106;
    padding: 14px 78px;
    background-color: #F2C94C;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
}

.left_column_button:hover {
    background-color: #ffd450;
}



.section1_right_column {
    position: relative;
    display: flex;


}

.section1_image {
    position: relative;
    margin: auto;
    margin-bottom: 0px;
    max-width: 550px;
    width: 100%;
}

/*------OFFER CARD------*/


.offre--active {
    border-top: 14px solid #009bd1 !important;
    padding-top: 36px !important;
}

.offres {
    max-width: 450px;
    width: 100%;
    background: white;
    margin: 50px auto;
    -webkit-box-shadow: 0px 45.3066px 69.7721px rgba(176, 183, 195, 0.1);
    -moz-box-shadow: 0px 45.3066px 69.7721px rgba(176, 183, 195, 0.1);
    box-shadow: 0px 45.3066px 69.7721px rgba(176, 183, 195, 0.1);
    border-radius: 14.4981px;
    border: 0.906132px solid #EBEBEB;
    padding: 50px 40px 10px;
}

.offre-titles h3 {
    font-size: 28px;
    font-family: 'Inter', sans-serif;
    color: #0C252E;
    text-align: left;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.offre-titles {
    position: relative;
}

.sans_engagement {
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    opacity: 0.45;
    font-family: 'Poppins', sans-serif;
}




.price {
    color: #009BD1;
    font-size: 35px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    line-height: 45.5px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.offre-titles h2 {
    color: #0C252E;
    font-family: 'Inter', sans-serif;
    opacity: 0.45;
    font-size: 14px;
    font-weight: 600;
}



.image_offre {
    position: relative;
    margin: 53px auto;
    margin-bottom: 15px;
}

.offre-contents {
    display: flex;
    flex-direction: column;
    padding: 0 0 20px;
}

.offre-contents p {
    font-size: 24px;
    color: #323232;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    margin-bottom: 5px;
}

.offre-contents p span {
    font-weight: 400;
    font-size: 20px;
}


.offres a {

    background-color: #f2c94c;
    color: #695106;
    border-radius: 8px;
    cursor: pointer;
    border-color: #f2c94c;
    font-size: 16px;
    padding: 15px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    text-align: center;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
    -webkit-appearance: none;
    margin-bottom: 13px;
}

.offre-header__note {
    font-size: 12px;
    text-align: center;
    color: #6f6f6f;
    margin-bottom: 0;
}

.offres a:hover {
    background-color: #ffd450;
}

.section2_container {
    background-color: #FBFBFB;
    margin-top: 0;
    padding-top: 60px;
}

.section2_title_container {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    text-align: center;
}

.section2_title {
    color: #0C252E;
    font-family: 'Inter', sans-serif;
    font-size: 27px;
    font-weight: 700;
}

.section2_arrow {
    margin: 20px auto;
    width: 16px;
}

.section2_left_column {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.section2_right_column {
    display: flex;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.section2_right_column_sub_container {
    height: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.section2_cards {
    position: relative;
    display: flex;
    flex-direction: row;
    max-width: 700px;

}

.section3_cards_info_container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-left: 20px;
}

.images_avantages {
    position: relative;
    margin: auto;
    width: auto;
    height: 60px;
}

.cards_tilte {
    position: relative;
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 800;
    text-align: left;
}

.cards_description {
    position: relative;
    margin-top: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

.card_link {
    color: #009BD1;
    text-decoration: underline;
}

.card_link:hover {
    color: #0099d14f;

}


/*------FOOTER------*/

#footer_container {
    position: relative;
    background-color: #0D0D0D;
    width: 100%;
    height: 52px;
    display: flex;
}

#footer_information {
    position: relative;
    margin: auto;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: white;
    display: flex;
}

.footer_information_spacing {
    margin-right: 25px;
}

#social_media_icons_container {
    position: relative;
    margin: auto;
    display: flex;
}

.social_media_icons {
    color: white;
    font-size: 20px;
    margin-left: 15px;
}



@media only screen and (max-width: 1100px) {

    #footer_container {
        padding: 20px;
        height: auto;
    }

    #footer_information {
        display: flex;
        flex-direction: column;
        margin-left: 0;
    }

    .footer_information_spacing {
        font-size: 15px;
    }

    .footer_information_bar {
        display: none;
    }

    .social_media_icons {
        font-size: 20px;
    }

}

@media only screen and (max-width: 992px) {

    .section1_container {
        height: 95vh;
    }

    .section1_sub_container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .section1_left_column_sub_container {
        margin: auto;
        margin-left: auto;
    }

    .left_column_logo {
        width: 160px;
        margin: 15px auto;
    }

    .left_column_mini_title {
        margin-top: 10px;
        text-align: center;
    }

    .left_column_title {
        text-align: center;
    }

    .left_column_description {
        margin: auto;
        text-align: center;
        margin-top: 14px;
    }

    .left_column_button_container {
        margin: auto;
    }

    .left_column_button {
        margin-top: 20px;
    }



    .section1_right_column {
        position: relative;
        display: flex;
        padding-top: 20px;

    }

    .section1_image {
        position: relative;
        margin: auto;
        width: 35vw;
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 992px) and (min-width: 761px) { 
    .section1_image {
        width: 25vw;
    }
}

@media only screen and (max-width: 788px) {

    
    .section2_right_column_sub_container {
        height: 100%;
    }

    .section2_cards {
        margin-bottom: 25px;
    }


    #footer_container {
        height: auto;
        flex-direction: column;
    }

    #footer_information {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: auto;
    }

    .footer_information_spacing {
        margin: 5px auto -10px auto;
        padding: 5px;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.801);
    }

    .footer_information_bar {
        display: none;
    }

    #social_media_icons_container {
        flex-direction: row;
    }

    .social_media_icons {
        margin-top: 20px;
        margin-bottom: 15px;
        color: rgba(255, 255, 255, 0.801);

    }
}



@media only screen and (max-width: 600px) { 


    .left_column_mini_title {
        font-size: 14px;
    }

    .left_column_title {
        font-size: 36px;
        line-height: 46.8px;

    }

    .left_column_description {
        font-size: 16px;

    }

    .left_column_button_container {
        margin: auto;
    }

    .left_column_button {
        margin-top: 20px;
    }

    .section1_image {
        width: 50vw;
    }

    .offres {
        margin-top: 20px;
    }
}