body {
    margin: 0;
    display: block;
}

.navbar {
    background-color: #ED1B2F;
    height: 60px;
}

.navbar_logo {
    position: relative;
    margin: auto;
    margin-left: 150px;
    height: 44px;
}

.page_title_container {
    position: relative;
    background-image: url(img/headerBackground.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
    background-color: #F2C94C;
    height: 480px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.068);
}

.header_article {
    position: absolute;
    margin-top: 20px;
    margin-left: 180px;
    height: 70px;
}

#page_title_center {
    position: relative;
    padding-left: 200px;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
    width: 900px;
}

#page_title {
    font-family: 'Inter', sans-serif;
    color: #382E11;
    font-size: 60px;
    line-height: 86px;
    font-weight: 900;
}


.section2 {
    margin-top: 50px;
}

.offre--active {
    border-top: 14px solid #ed1b2f !important;
    padding-top: 36px !important;
}

.section2 .row {
    max-width: 1140px;
    margin: 0 auto;
}

.offre-header__recommended {
    background: #fef4f5;
    border-radius: 50px;
    padding: 10px 16px;
    color: #ed1b2f;
    position: absolute;
    top: 0px;
    font-size: 12px;
    right: 0px;
}

.offre-header__recommended_phone {
    display: none;
}

.offres {
    width: 450px;
    background: white;
    margin: 50px auto;
    -webkit-box-shadow: 0px 45.3066px 69.7721px rgba(176, 183, 195, 0.1);
    -moz-box-shadow: 0px 45.3066px 69.7721px rgba(176, 183, 195, 0.1);
    box-shadow: 0px 45.3066px 69.7721px rgba(176, 183, 195, 0.1);
    border-radius: 14.4981px;
    border: 0.906132px solid #EBEBEB;
    padding: 50px 40px 10px;
}

.offre-titles h3 {
    font-size: 28px;
    font-family: 'Inter', sans-serif;
    color: #323232;
    text-align: left;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.offre-titles {
    position: relative;
}

.btn-abo-secondary {
    background: #FFF4D9 !important;
    border: 1px solid #fcf4db !important;
}

.btn-link {
    padding-left: 0px;
}

h4 {
    color: #6f6f6f;
    margin-bottom: 2rem;
    font-size: 16px;
    font-weight: 500;
}

.price {
    color: #E30D22;
    font-size: 52px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 10px;
}

.price_month {
    font-size: 26px;
    font-weight: 500;
}

h2 {
    color: #0C252E;
    opacity: 0.5;
    margin-bottom: 2rem;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
}

.image_offre {
    position: relative;
    margin: auto;
}

.offre-contents {
    display: flex;
    flex-direction: column;
    padding: 0 0 20px;
}

.offre-contents p {
    font-size: 24px;
    color: #323232;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    margin-bottom: 5px;
}

.offre-contents p span {
    font-weight: 400;
    font-size: 20px;
}


.offres a {
    background-color: #F2C94C;
    border-color: #F2C94C;
    border-radius: 8px;
    cursor: pointer;
    border-color: #F2C94C;
    font-size: 16px;
    padding: 15px;
    font-family: "Inter", Arial;
    font-weight: 600;
    text-align: center;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
    -webkit-appearance: none;
    margin-bottom: 13px;
}

.offre-header__note {
    font-size: 12px;
    text-align: center;
    color: #6f6f6f;
    margin-bottom: 0;
}

.offres a:hover {
    background-color: #ffd450;
}

.btn-abo-secondary:hover {
    background-color: #f2ebd3 !important;
}

.section3 {
    margin-top: 50px;
}

.section3_title {
    margin-top: 50px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 38px;
    font-weight: 800;
}

.section3_cards_container {
    margin-top: 50px;
    padding: 20px;
    max-width: 1400px;
    margin: auto;
}

.section3_cards {
    position: relative;
    margin-top: 20px;
    height: 430px;
    border: solid 1px #EBEBEB;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.images_avantages {
    position: relative;
    margin: 10px auto;

}

.cards_tilte {
    position: relative;
    margin: 20px auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 800;
    text-align: center;
}

.cards_description {
    position: relative;
    margin: 0px auto;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.card_link {
    color: #E30613;
    text-decoration: underline;
}

.card_link:hover {
    color: #cf0714;

}

#footer_container {
    position: relative;
    margin-top: 100px;
    background-color: #0D0D0D;
    width: 100%;
    height: 52px;
    display: flex;
}

#footer_information {
    position: relative;
    margin: auto;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: white;
    display: flex;
}

.footer_information_spacing {
    margin-right: 25px;
}

#social_media_icons_container {
    position: relative;
    margin: auto;
    display: flex;
}

.social_media_icons {
    color: white;
    font-size: 20px;
    margin-left: 15px;
}

@media only screen and (max-width: 1100px) {

    .section3_cards {
        height: 460px;
    }

    #footer_container {
        padding: 20px;
        height: auto;
    }

    #footer_information {
        display: flex;
        flex-direction: column;
        margin-left: 0;
    }

    .footer_information_spacing {
        font-size: 15px;
    }

    .footer_information_bar {
        display: none;
    }

    .social_media_icons {
        font-size: 20px;
    }

}

@media only screen and (max-width: 788px) {
    
    .navbar_logo {
        margin: auto;
    }

    .header_article {
        display: none;
    }

    .offre-header__recommended {
        display: none;
    }

    .offre-header__recommended_phone {
        display: initial;
        background: #fef4f5;
        border-radius: 50px;
        padding: 10px 16px;
        color: #ed1b2f;
        position: relative;
        margin: -10px auto 25px 0px;
        font-size: 12px;
    }

    .offres {
        width: auto;
        margin: 20px auto;
    }

    .offre-titles h3 {
        font-size: 20px;
    }

    .offre-titles {
        position: relative;
    }

    h4 {
        font-size: 16px;
    }

    .price {
        font-size: 42px;
    }

    .price_month {
        font-size: 22px;
    }

    h2 {
        font-size: 12px;
    }

    .image_offre {
        width: 100%;
    }


    .section3_cards {
        height: auto;

    }

    .page_title_container {
        height: auto;
        padding-top: 70px;
        padding-bottom: 220px;
        
    }

    #page_title_center {
        text-align: center;
        margin: auto;
        padding: 0;
        width: 100%;
        

    }

    #page_title {
        font-size: 32px;
        transition: .2s;
        line-height: 41.6px;
        
    }

    .section3_title {
        font-size: 32px;
        line-height: 41.6px;
        margin-bottom: -20px;
    }

    #page_small_title {
        transition: .2s;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 3px;

    }

    #footer_container {
        height: auto;
        flex-direction: column;
    }

    #footer_information {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: auto;
    }

    .footer_information_spacing {
        margin: 5px auto -10px auto;
        padding: 5px;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.801);
    }

    .footer_information_bar {
        display: none;
    }

    #social_media_icons_container {
        flex-direction: row;
    }

    .social_media_icons {
        margin-top: 20px;
        margin-bottom: 15px;
        color: rgba(255, 255, 255, 0.801);

    }
}